.idea/
**/.idea/
.DS_Store
**/.DS_Store
__pycache__/
**/__pycache__/
artitone/db.sqlite3
**/.coverage
**/coverage.lcov
.env
static/images/
artitone/media/*
**/.elasticbeanstalk/
.vscode/settings.json
artitone/map/urls.py
migrations
**/migrations
db.sqlite3