container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
  02_load_categories:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py load_categories"
    leader_only: true
  03_add_default_user:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py add_default_user"
    leader_only: true


option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: artitone.settings
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    TMPDIR: "/var/tmp"
    POSTGRES_DB: ebdb
    POSTGRES_PORT: 5432
    POSTGRES_USER: artitone
    POSTGRES_PASSWORD: artitone_us
    ENVIRONMENT_TYPE: development
  aws:elasticbeanstalk:container:python:
    WSGIPath: artitone.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:autoscaling:launchconfiguration:
    RootVolumeType: gp2
    RootVolumeSize: "200"
    InstanceType: "t3.large"