{% extends 'base.html' %}
{% block content %}
  <h2>Sign up for a free account</h2>
  <p class="lead">Select the type of account you want to create:</p>
  <a href="{% url 'customer_signup' %}" class="btn btn-primary btn-lg" role="button">Customer</a>
  <a href="{% url 'artist_signup' %}" class="btn btn-primary btn-lg" role="button">Artist</a>
  <script>
    $(function() {
      var user_auth = "{{user.is_authenticated}}";
      console.log(user_auth)
      if (user_auth == "True") {
        var url= "{% url 'home' %}";
        window.location = url;
      }
    });
  </script>
{% endblock %}
