{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
<div class="menu">
    <div class="div">
        <div class="overlap-group" style="height: 50vh">
        </div>
        <div class="frame" id="artitone-frame" onmouseover="showMenu()" onmouseleave="hideMenu()">
            <form id="searchbox" method="get" action="{% url 'home' %}">
                <div class="new-arrivals">
                    <div class="home">
                        <div class="home-2">
                            <button class="artitone-sidebar" name="category" type="submit"
                                    value="New Arrivals">New Arrivals
                            </button>
                        </div>
                    </div>
                </div>
                <div class="group-5">
                    <div class="photograph">
                        <div class="home">
                            <div class="home-3">
                                <button class="artitone-sidebar" name="category" type="submit"
                                        value="Photograph">Photograph
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="painting">
                        <div class="home">
                            <div class="home-3">
                                <button class="artitone-sidebar" name="category" type="submit"
                                        value="Painting">Painting
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="print">
                        <div class="home">
                            <div class="home-3">
                                <button class="artitone-sidebar" name="category" type="submit"
                                        value="Print">Print
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="wall-arts">
                        <div class="home">
                            <div class="home-3">
                                <button class="artitone-sidebar" name="category" type="submit"
                                        value="Wall Arts">Wall Arts
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="decorative-trays">
                        <div class="home">
                            <div class="home-3">
                                <button class="artitone-sidebar" name="category" type="submit"
                                        value="Trays">Trays
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="wall-hangings">
                        <div class="home">
                            <div class="home-3">
                                <button class="artitone-sidebar" name="category" type="submit"
                                        value="Hangings">Hangings
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="table">
                        <div class="home">
                            <div class="home-3">
                                <button class="artitone-sidebar" name="category" type="submit"
                                        value="Table">Table
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="chair">
                        <div class="home">
                            <div class="home-3">
                                <button class="artitone-sidebar" name="category" type="submit"
                                        value="Chair">Chair
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="cabinet">
                        <div class="home">
                            <div class="home-3">
                                <button class="artitone-sidebar" name="category" type="submit"
                                        value="Cabinets">Cabinets
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="sculpture">
                        <div class="home">
                            <div class="home-3">
                                <button class="artitone-sidebar" name="category" type="submit"
                                        value="Sculpture">Sculpture
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="text-wrapper-2">Fine Arts</div>
                    <div class="text-wrapper-3">Home Decor</div>
                    <div class="text-wrapper-4">Furniture</div>
                </div>
            </form>
        </div>

        <div class="container">
            <div class="section-title">
                <div class="text-wrapper-8" style="margin-bottom: 10px">We Provide Not Just Art.</div>
                <p style="width: 75%; text-align: center; font-size: 25px">
                   Welcome to Artitone, your go-to destination for an innovative art and decor shopping experience. Our intuitive search engine effortlessly matches you with the perfect decor options based on your existing room furnishings, making the process of buying and selling decorative art easier than ever before. Not only do we cater to decor enthusiasts, but we're also committed to empowering emerging artists and designers. Through our platform, they can monetize their creative endeavors, helping them continue to chase their artistic dreams.
                </p>
            </div>
        </div>

        <div style="display: flex; justify-content: center; align-items: center;flex-direction: row;">
            <img class="vector-3" src="{% static 'images/vector-3.svg' %}">
        </div>
        <footer class="footer">
            <div class="logo-wrapper"><img class="logo-2" src="{% static 'images/logo.png' %}"/></div>
            <div class="content-2">
                <div class="text-wrapper-12">ABOUT</div>
                <div class="footer-links">
                    <div class="link">Our story</div>
                </div>
            </div>
            <div class="content-2">
                <div class="text-wrapper-12">POLICIES</div>
                <div class="footer-links">
                    <p class="link">Term & Condition</p>
                    <p class="link">Privacy & Policy</p>
                </div>
            </div>
            <div class="content-2">
                <div class="text-wrapper-12">CONTACT</div>
                <div class="footer-links">
                    <div class="link">Contact</div>
                    <div class="link">Help</div>
                </div>
            </div>
        </footer>

        <div style="display: flex; justify-content: center; align-items: center;flex-direction: column;">
            <img class="vector-3" src="{% static 'images/vector-3.svg' %}">
            <p class="text">Copyright © 2023 Artitone</p>
        </div>
    </div>
</div>
{% load crispy_forms_tags %}

<!-- This is the LOGIN form -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content artitone-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Log In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% if login_form.non_field_errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <p class="mb-0">{{ login_form.non_field_errors }}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            <form action="" method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" id="form_type" name="type" value="login"/>
                    {{ login_form.email|as_crispy_field }}
                    {{ login_form.password|as_crispy_field }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark artitone-btn">Login</button>
                    <button type="button" class="btn btn-secondary artitone-btn" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- This is the SIGNUP form -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content artitone-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="signupModalLabel">Sign Up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% if artist_signup_form.non_field_errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <p class="mb-0">{{ artist_signup_form.non_field_errors }}</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            <div id="signup-choice" class="modal-body"
                 style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
                <h2>Sign up for a free account</h2>
                <p class="lead">Select the type of account you want to create:</p>
                <button id="customer-signup" class="btn btn-dark btn-lg artitone-btn" role="button">Customer
                </button>
                <button id="artist-signup" class="btn btn-dark btn-lg artitone-btn" role="button">Artist/Designer
                </button>
            </div>

            <div id="artist-signup-form" style="display: none;">
                <form method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="modal-body">
                        <input type="hidden" name="next" value="{{ next }}">
                        <input type="hidden" id="form_type" name="type" value="artist"/>
                        {{ artist_signup_form|crispy }}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark artitone-btn">Sign Up</button>
                    </div>
                </form>
            </div>

            <div id="customer-signup-form" style="display: none;">
                <form method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="modal-body">
                        <input type="hidden" name="next" value="{{ next }}">
                        <input type="hidden" id="form_type" name="type" value="customer"/>
                        {{ customer_signup_form|crispy }}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark artitone-btn">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% if login_form.non_field_errors %}
<script>
    $(document).ready(function () {
        $("#loginModal").modal('show');
    });
</script>
{% endif %}
{% if signup_form.non_field_errors %}
<script>
    $(document).ready(function () {
        $("#signupModal").modal('show');
    });
</script>
{% endif %}
{% if artist_signup_form.errors %}
<script>
    $(document).ready(function () {
        $("#signupModal").modal('show');
        $("#artist-signup-form").show();
        $("#customer-signup-form").hide();
        $("#signup-choice").hide();
    });
</script>
{% endif %}
{% if customer_signup_form.errors %}
<script>
    $(document).ready(function () {
        $("#signupModal").modal('show');
        $("#artist-signup-form").hide();
        $("#customer-signup-form").show();
        $("#signup-choice").hide();
    });
</script>
{% endif %}
<script>

    $("button#artist-signup").click(function () {
        $("#artist-signup-form").show();
        $("#customer-signup-form").hide();
        $("#signup-choice").hide();
    });
    $("button#customer-signup").click(function () {
        $("#artist-signup-form").hide();
        $("#customer-signup-form").show();
        $("#signup-choice").hide();
    });
    $("#artitone-signup-btn").click(function () {
        $("#artist-signup-form").hide();
        $("#customer-signup-form").hide();
        $("#signup-choice").show();
    });
</script>
</body>
{% endblock %}
