{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'search_sidebar.html' %}
<body>
<div class="menu">
    <div class="div">
        <div class="overlap-group" style="height: 50vh">
        </div>

        <div class="container">
            <div class="section-title">
                <div class="text-wrapper-8" style="margin-bottom: 10px">We Provide Not Just Art.</div>
                <p style="width: 75%; text-align: center; font-size: 25px">
                   Welcome to Artitone, your go-to destination for an innovative art and decor shopping experience. Our intuitive search engine effortlessly matches you with the perfect decor options based on your existing room furnishings, making the process of buying and selling decorative art easier than ever before. Not only do we cater to decor enthusiasts, but we're also committed to empowering emerging artists and designers. Through our platform, they can monetize their creative endeavors, helping them continue to chase their artistic dreams.
                </p>
            </div>
        </div>

        <div style="display: flex; justify-content: center; align-items: center;flex-direction: row;">
            <img class="vector-3" src="{% static 'images/vector-3.svg' %}">
        </div>
        <footer class="footer">
            <div class="logo-wrapper"><img class="logo-2" src="{% static 'images/logo-1.svg' %}"/></div>
            <div class="content-2">
                <div class="text-wrapper-12" >ABOUT</div>
                <div class="footer-links">
                    <p class="link" > <a href="{% url 'about' %}">Our story</a></p>
                </div>
            </div>
            <div class="content-2">
                <div class="text-wrapper-12">POLICIES</div>
                <div class="footer-links">
                    <p class="link">Term & Condition</p>
                    <p class="link">Privacy & Policy</p>
                </div>
            </div>
            <div class="content-2">
                <div class="text-wrapper-12">CONTACT</div>
                <div class="footer-links">
                    <div class="link">Contact</div>
                    <div class="link">Help</div>
                </div>
            </div>
        </footer>

        <div style="display: flex; justify-content: center; align-items: center;flex-direction: column;">
            <img class="vector-3" src="{% static 'images/vector-3.svg' %}">
            <p class="text">Copyright © 2023 Artitone</p>
        </div>
    </div>
</div>
</body>
{% endblock %}
