{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1></h1>
<h2>{{ alert }}</h2>
<!-- writes out the form tag automatically -->
<br>
<br>
<br>
{{ form.render }}
  <!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayPal JS SDK Standard Integration</title>
  </head>
  <body>
    <div id="paypal-button-container"></div>
    <p id="result-message"></p>
    <script src="https://www.paypal.com/sdk/js?client-id=AfGeRejIjIvkxRUqwW0As3UJAhJlsZP6089hulVesTQf-u5yEnpU7LulUaCb9MFLwELhyWmQtaFpvdgn&currency=USD"></script>
    <script src="{% static 'js/payment.js' %}"></script>
  </body> -->


{% endblock %}