{% extends 'base.html' %}
{% load static %}
{% block content %}

<a href="{% url 'upload_artwork' %}"><h1><b>Upload Artwork</b></h1></a>

{% for artwork in artworks %}
    <hr>
    <h2>{{ artwork.name }}</h2>
    {% with artwork.pictures.all|first as img %}
        <img class="element" src="{{img}}" loading="lazy">
    {% endwith %}
    <h3>{{ artwork.category }}</h3>
    <h3>{{ artwork.get_texture_display }}</h3>
    <h4>{% for tag in artwork.tags.all %}
    {{ tag.name }}
    {% endfor %}</h4>
    {% for color in artwork.colors.all %}
        <div style="background-color: {{ color.name }}; padding: 10px;"></div>
    {% endfor %}
    <h4>Price: ${{ artwork.price }}</h4>
    
    <a href="{% url 'delete_artwork' artwork.pk %}"><button>delete</button></a>
    <a href="{% url 'purchase_artwork' artwork.pk %}"><button>purchase</button></a>
{% endfor %}
{% endblock %}